@model IReadOnlyCollection<MusicCatalog.Domain.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}

<div class="text-center artists-page">
    <div class="page-container">
        <h1 class="artists-page page-title">Artists</h1>
        <a class="artists-page create-link" asp-action="Create">Create</a>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Actions</th>
            </tr>
            </thead>
            @foreach (var artist in Model)
            {
                <tr>
                    <td>@artist.FirstName</td>
                    <td>@artist.LastName</td>
                    <td>@artist.DateOfBirth.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@artist.Id">Update</a>
                        <a asp-action="Delete" asp-route-id="@artist.Id" class="btn-delete btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
