
@page
@model MusicCatalog.RazorPagesView.Pages.Artists.ArtistsIndex

@{
    ViewData["Title"] = "Artists";
}


<div class="text-center artists-page">
    <div class="page-container">
        <h1 class="artists-page page-title">Artists</h1>
        <a asp-page="./CreateArtist" class="artists-page create-link">Create</a>
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Actions</th>
                </tr>
                </thead>
                @foreach (var artist in Model.Artists)
                {
                    <tr>
                        <td>@artist.FirstName</td>
                        <td>@artist.LastName</td>
                        <td>@artist.DateOfBirth.ToShortDateString()</td>
                        <td>
                            <a asp-page="./UpdateArtist" asp-route-id="@artist.Id">Update</a>
                            <button type="submit" asp-page-handler="delete" asp-route-id="@artist.Id" class="btn-delete">Delete</button>
                        </td>
                    </tr>
                }
            </table>
            </form>
    </div>
</div>